<?xml version="1.0" encoding="UTF-8"?>
<root>
	<jmenu name="FILE" mnemonic="M-FILE">
			<item name="CONNECT" class="org.kazak.xpg.database.Connector" method="connect" />
		<separator />
		<item name="EXIT" class="org.kazak.xpg.Run" method="exit" />
	</jmenu>
	<jmenu name="HELP">
		<item name="HELP" class="org.kazak.xpg.gui.Helper" method="display" />
		<separator />
		<item name="ABOUT" class="org.kazak.xpg.gui.About" method="display" />
	</jmenu>
</root>
